
body {
    font-family: Monaco, 'Courier New', monospace;
    text-align: right;
    background-color: rgb(192, 220, 180);
}

#lasagna {
    background-color: rgb(230, 185, 133);
    text-align: center;
}

#borscht {
    background-color: rgb(244, 130, 130);
    text-align: center;
}

#redlentildal {
    background-color: rgb(250, 206, 105);
    text-align: center;
}

.list {
    font-size: 20px;
    color: rgb(52, 54, 56);
    text-decoration: none;
}

a:hover {
    color: black;
}

ul {
    list-style-position: inside;
    
}

ol {
    list-style-position: inside;
    
}

h1 {
    font-size: 60px;
}